/* 
  Challenge Encriptador del Programa ONE -G5 - Alura Latam
  Desarrollado por Jonathan Sánchez Hernández - 2023
*/
@media screen and (max-width: 767.98px) and (orientation: portrait) {
  html {
    box-sizing: border-box;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  :root {
    color-scheme: light dark;
  }

  body {
    background-color: var(--bg-body);
    transition: background-color 1s;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

  /* Cabecera */

  .header-container {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .logo {
    width: 30vw;
    height: 10vh;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--txt4-color));
    align-self: flex-start;
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: var(--txt-color);
    filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--txt4-color));
  }

  .logo-2 {
    width: 50%;
    height: 5vh;
    top: 5vh;
    left: 30vw;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--txt4-color));
    position: absolute;
  }

  /* Contenedor Principal */
  .main-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  /* Contenedor para ingreso de texto */
  .container-input {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .input-text {
    width: 100%;
    height: 40%;
    background-color: var(--bg-body);
    border: none;
    color: var(--txt-color);
    font-size: 1.5em;
    padding-left: 1.5rem;
    padding-right: 1rem;
    resize: none;
  }

  ::placeholder {
    color: var(--txt-color);
    font-size: 1em;
    padding-left: 1rem;
  }

  .input-text:focus {
    outline: none;
  }

  .informacion {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    color: var(--txt3-color);
    font-size: 4vw;
    padding-left: 8%;
  }

  .informacion img {
    padding-top: 0.8em;
  }

  .buttons {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-encriptar {
    background-color: var(--btn1-bg);
    border: 1px solid var(--btn2-bg);
    border-radius: 1.5rem;
    color: var(--btn-txt-color2);
    width: 270px;
    height: 57px;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }

  .btn-encriptar:hover {
    background-color: var(--btn-hover);
    transition: 300ms;
    color: var(--btn-txt-color2);
    box-shadow: 6px 5px 16px 0px var(--shadow);
    -webkit-box-shadow: 6px 5px 16px 0px var(--shadow);
    -moz-box-shadow: 6px 5px 16px 0px var(--shadow);
  }

  .btn-desencriptar {
    background-color: var(--btn2-bg);
    border: 1px solid var(--btn-txt-color1);
    border-radius: 1.5rem;
    color: var(--btn-txt-color1);
    font-size: 1.2rem;
    width: 270px;
    height: 57px;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  .btn-desencriptar:hover {
    background-color: var(--btn-hover);
    border: 1px solid var(--btn-txt-color2);
    transition: 300ms;
    color: var(--txt2-color);
    box-shadow: 6px 5px 16px 0px var(--shadow);
    -webkit-box-shadow: 6px 5px 16px 0px var(--shadow);
    -moz-box-shadow: 6px 5px 16px 0px var(--shadow);
  }
  /* Contenedor Mensaje Encriptado/Desencriptado */
  .container-output {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .output-initial {
    width: 87%;
    height: 85%;
    background-color: var(--bg-body-elements);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .muñeco {
    display: none;
  }

  .mensaje-inicial {
    font-family: "Inter";
    font-size: 1.3em;
    color: var(--txt4-color);
    text-align: center;
    font-weight: bold;
    background: transparent;
    padding-top: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .insert-text {
    width: 80%;
    height: 10vh;
    font-size: 0.9em;
    background-color: var(--bg-body-elements);
    color: var(--txt3-color);
    text-align: center;
  }

  .output-result {
    width: 87%;
    height: 80%;
    background-color: var(--bg-body-elements);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .output-text {
    width: 90%;
    height: 80%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    background-color: transparent;
    border: none;
    resize: none;
    font-family: "Inter";
    color: var(--txt3-color);
    font-size: 1em;
  }

  .copiar {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }

  .btn-copiar {
    border: 1px solid var(--btn-txt-color2);
    border-radius: 1.5rem;
    color: var(--btn-txt-color2);
    font-size: 1rem;
    width: 180px;
    height: 40px;
    cursor: pointer;
    background-color: var(--btn1-bg);
  }

  .btn-copiar:hover {
    background-color: var(--btn-hover);
    transition: 300ms;
    color: var(--txt2-color);
    box-shadow: 6px 5px 16px 0px var(--shadow);
    -webkit-box-shadow: 6px 5px 16px 0px var(--shadow);
    -moz-box-shadow: 6px 5px 16px 0px var(--shadow);
  }

  .disable {
    display: none;
  }

  .buttons {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  /* Pie de Página */
  .footer-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .copyright {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.6em;
    color: var(--txt3-color);
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact h3 {
    padding-top: 1.3rem;
    color: var(--txt3-color);
  }

  .icono {
    font-size: 2rem;
    color: var(--icon);
    padding: 1rem;
    cursor: pointer;
  }

  .icono:hover {
    color: var(--icon-hover);
    transition: 200ms;
  }
}

@media screen and (max-width: 767.98px) and (orientation: landscape) {
  html {
    box-sizing: border-box;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  :root {
    color-scheme: light dark;
  }

  body {
    background-color: var(--bg-body);
    transition: background-color 1s;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

  /* Cabecera */

  .header-container {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: last baseline;
  }

  .logo {
    width: 30vw;
    height: 10vh;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--txt4-color));
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: var(--txt-color);
    filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--txt4-color));
  }

  .logo-2 {
    width: 50%;
    height: 5vh;
    top: 5vh;
    left: 30vw;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--txt4-color));
  }

  /* Contenedor Principal */
  .main-container {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  /* Contenedor para ingreso de texto */
  .container-input {
    padding-left: 5%;
    padding-right: 5%;
    width: 85%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .input-text {
    width: 100%;
    height: 40%;
    background-color: var(--bg-body);
    border: none;
    color: var(--txt-color);
    font-size: 1.5em;
    padding-left: 1.5rem;
    padding-right: 1rem;
    resize: none;
  }

  ::placeholder {
    color: var(--txt-color);
    font-size: 1em;
    padding-left: 1rem;
  }

  .input-text:focus {
    outline: none;
  }

  .informacion {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    color: var(--txt3-color);
    font-size: 4vw;
    padding-left: 8%;
  }

  .informacion img {
    padding-top: 0.8em;
  }

  .buttons {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .btn-encriptar {
    background-color: var(--btn1-bg);
    border: 1px solid var(--btn2-bg);
    border-radius: 1.5rem;
    color: var(--btn-txt-color2);
    width: 250px;
    height: 50px;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }

  .btn-encriptar:hover {
    background-color: var(--btn-hover);
    transition: 300ms;
    color: var(--btn-txt-color2);
    box-shadow: 6px 5px 16px 0px var(--shadow);
    -webkit-box-shadow: 6px 5px 16px 0px var(--shadow);
    -moz-box-shadow: 6px 5px 16px 0px var(--shadow);
  }

  .btn-desencriptar {
    background-color: var(--btn2-bg);
    border: 1px solid var(--btn-txt-color1);
    border-radius: 1.5rem;
    color: var(--btn-txt-color1);
    font-size: 1.2rem;
    width: 250px;
    height: 50px;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  .btn-desencriptar:hover {
    background-color: var(--btn-hover);
    border: 1px solid var(--btn-txt-color2);
    transition: 300ms;
    color: var(--txt2-color);
    box-shadow: 6px 5px 16px 0px var(--shadow);
    -webkit-box-shadow: 6px 5px 16px 0px var(--shadow);
    -moz-box-shadow: 6px 5px 16px 0px var(--shadow);
  }
  /* Contenedor Mensaje Encriptado/Desencriptado */
  .container-output {
    width: 85%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .output-initial {
    width: 87%;
    height: 85%;
    background-color: var(--bg-body-elements);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .muñeco {
    display: none;
  }

  .mensaje-inicial {
    font-family: "Inter";
    font-size: 1.3em;
    color: var(--txt4-color);
    text-align: center;
    font-weight: bold;
    background: transparent;
    padding-top: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .insert-text {
    width: 80%;
    height: 10vh;
    font-size: 0.9em;
    background-color: var(--bg-body-elements);
    color: var(--txt3-color);
    text-align: center;
  }

  .output-result {
    width: 87%;
    height: 80%;
    background-color: var(--bg-body-elements);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .output-text {
    width: 90%;
    height: 80%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    background-color: transparent;
    border: none;
    resize: none;
    font-family: "Inter";
    color: var(--txt3-color);
    font-size: 1em;
  }

  .copiar {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }

  .btn-copiar {
    border: 1px solid var(--btn-txt-color2);
    border-radius: 1.5rem;
    color: var(--btn-txt-color2);
    font-size: 1rem;
    width: 180px;
    height: 40px;
    cursor: pointer;
    background-color: var(--btn1-bg);
  }

  .btn-copiar:hover {
    background-color: var(--btn-hover);
    transition: 300ms;
    color: var(--txt2-color);
    box-shadow: 6px 5px 16px 0px var(--shadow);
    -webkit-box-shadow: 6px 5px 16px 0px var(--shadow);
    -moz-box-shadow: 6px 5px 16px 0px var(--shadow);
  }

  .disable {
    display: none;
  }

  .buttons {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
  }
  /* Pie de Página */
  .footer-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .copyright {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
    color: var(--txt3-color);
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact h3 {
    padding-top: 1.3rem;
    color: var(--txt3-color);
  }

  .icono {
    font-size: 2rem;
    color: var(--icon);
    padding: 1rem;
    cursor: pointer;
  }

  .icono:hover {
    color: var(--icon-hover);
    transition: 200ms;
  }
}
